<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生情報</title>
</head>
<body>
    <h2>学生情報</h2>

    <main>
        <h3>学生一覧</h3>
        <form th:action="@{/admin/studentBatchAction}" method="post">
            <button type="submit" name="action" value="delete" 
                    onclick="return confirm('削除しますか？')">削除</button>
            <button type="submit" name="action" value="add">追加</button>
            <button type="submit" name="action" value="edit">修正</button>

            <!--エラーメッセージ表示-->
            <div th:if="${successMessage}" style="color: green;" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>
            <!--
            <div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>
            -->
            <section>
                <table border="1">
                    <thead>
                        <tr>
                            <th>選択</th>
                            <th>学生番号</th>
                            <th>氏名</th>
                            <th>学年</th>
                            <th>楽器</th>
                            <th>メールアドレス</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${studentList}">
                            <td>
                                <input type="checkbox" name="selectedIds" th:value="${student.studentId}">
                            </td>
                            <td th:text="${student.studentId}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.grade}"></td>
                            <td th:text="${student.instrument}"></td>
                            <td th:text="${student.mail}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </form>
    </main>

    <a th:href="@{/admin/adminMenu}">メニューへ戻る</a><br>
    <a th:href="@{/logout}">ログアウト</a>

</body>
</html>