<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申請内容詳細</title>
</head>
<body>
<div th:fragment="detail">
    <h3 th:text="${applicationDto.name} + ' さんの申請内容'"></h3>
    
    <ul>
        <li>学生番号: <span th:text="${applicationDto.studentId}"></span></li>
        <li>氏名: <span th:text="${applicationDto.name}"></span></li>
        <li>学年: <span th:text="${applicationDto.grade}"></span></li>
        <li>楽器: <span th:text="${applicationDto.instrument}"></span></li>
        <li>編成: <span th:text="${applicationDto.perfForm}"></span></li>
        <li>作曲者: <span th:text="${applicationDto.composer}"></span></li>
        <li>生没年: <span th:text="${applicationDto.years}"></span></li>
        <li>作品名: <span th:text="${applicationDto.title}"></span></li>
        <li>楽章: <pre th:text="${applicationDto.movement}"></pre></li>
        <li>演奏時間: <span th:text="${applicationDto.duration}"></span></li>
        <li>共演者: <pre th:text="${applicationDto.member}"></pre></li>
        <li>使用備品: <pre th:text="${applicationDto.equipment}"></pre></li>
        <li>備考: <pre th:text="${applicationDto.memo}"></pre></li>
    </ul>
</div>
</body>
</html>